@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
	--VeryDarkMagenta: hsl(300, 43%, 22%);
	--SoftPink: hsl(333, 80%, 67%);

	--DarkGrayishMagenta: hsl(303, 10%, 53%);
	--LightGrayishMagenta: hsl(300, 24%, 96%);
	--White: hsl(0, 0%, 100%);
}

body {
	font-size: 15px;
	font-family: "Spartan", sans-serif;
	padding: 4em 2em;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.bg-top-pattern {
	position: absolute;
	z-index: -999;
	top: -5em;
	left: -3em;
}

.bg-bottom-pattern {
	position: absolute;
	z-index: -999;
	bottom: -7em;
	right: -3em;
}

.header h2 {
	color: var(--VeryDarkMagenta);
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
}

.header h3 {
	color: var(--DarkGrayishMagenta);
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
}
.ratings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
	margin-top: 1.5em;
}

.rating {
	background: var(--LightGrayishMagenta);
	padding-top: 0.8em;
	border-radius: 1rem;
}

.star-rating {
	text-align: center;
}
.rating p {
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	color: var(--VeryDarkMagenta);
}

.reviews {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
	margin-top: 4em;
	font-size: 11px;
	margin-bottom: 4em;
}

.review-card {
	background: var(--VeryDarkMagenta);
	color: var(--White);
	border-radius: 0.5em;
	padding: 3em;
}

.avatar img {
	width: 15%;
	border-radius: 50%;
}

.avatar-heading {
	display: inline-block;
	margin-left: 1em;
	transform: translateY(-5px);
}

.review-card h4 {
	font-weight: 500;
	color: var(--SoftPink);
	margin-top: -1em;
}

.review-card p {
	text-align: start;
	line-height: 1.2rem;
	color: var(--LightGrayishMagenta);
	font-weight: 500;
}

.attribution {
	font-size: 9px;
	text-align: center;
	margin-top: 2em;
	color: var(--VeryDarkMagenta);
}
.attribution a {
	color: hsl(228, 45%, 44%);
	color: var(--SoftPink);
}

@media (min-width: 1200px) {
	body {
		padding: 5em 12em;
	}

	.bg-top-pattern {
		position: absolute;
		z-index: -999;
		top: -6em;
		left: -12em;
	}

	.bg-bottom-pattern {
		position: absolute;
		z-index: -999;
		bottom: -8em;
		right: -12em;
	}

	.heading {
		display: flex;
	}

	.header {
		flex-basis: 50%;
		flex-grow: 0;
	}

	.header h2 {
		text-align: start;
		font-size: 45px;
		margin-right: 4em;
	}

	.header h3 {
		text-align: start;
		font-size: 18px;
		margin-right: 5em;
		line-height: 1.5em;
	}

	.ratings {
		flex-basis: 50%;
		flex-grow: 0;
	}

	.rate-two {
		transform: translateX(20%);
	}

	.rate-three {
		transform: translateX(40%);
	}

	.rating {
		display: flex;
		width: 60%;
		justify-content: center;
		align-items: center;
		padding: 0.5em 2em;
	}

	.rating p {
		margin-left: 1em;
	}

	.reviews {
		display: flex;
		flex-direction: row;
	}

	.review-card {
		padding: 4em;
	}

	.review-two {
		transform: translateY(10%);
	}

	.review-three {
		transform: translateY(20%);
	}
}
